{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Home
{% endblock %}






{% block body %}
    <div class="index-part1">
<div class="day-strike-div">
    <h1 class="day-strike-header">10 Days strike</h1>

    {% for i in range(1, 11) %}
        <div class="day-strike">
            {% if i <= days_of_strike %}
                <div class="strike-check" style="background-color: #8BFC56;"></div>
                <h1 class="strike-text">Day {{ i }}: DONE</h1>
            {% else %}
                <div class="strike-check"></div>
                <h1 class="strike-text">Day {{ i }}: Not Yet</h1>
            {% endif %}
        </div>
    {% endfor %}
</div>

        

        <div class="tip-div">
            <h1 class="tip-text">Tip of the day:  
                {{ quote }}</h1>
        </div>
    </div>

    <div class="index-part2">
        <div class="new-word">
            <h1 class="new-word-header">Add this to “To learn list”:</h1>

            <textarea name="textarea" id="textarea" class="new-word-textarea" placeholder="I want to learn this in future..."></textarea>

            <div class="new-word-buttons">
                <input type="radio" name="wordorphrase" class="radio-input" id="radio1" checked>
                <h1 class="radio-text">Word</h1>
                <input type="radio" name="wordorphrase" class="radio-input">
                <h1 class="radio-text">Phrase</h1>
                <input type="button" value="Add" class="new-word-submit" onclick="send_word()" id="radio2">
            </div>
        </div>

        <div class="user-info">
            <div class="user-info-part1">
                <img src="" class="user-info-pfp">

                <h1 class="user-info-username">{{ request.user.username }}</h1>
                <h1 class="user-info-level">English level: {{ request.user.level }}</h1>
            </div>
            <br>
        </div>

        <div class="testL-div">
            <div class="testL-part1">
                <h1 class="testL-header">Test your listening skills</h1>

                <h1 class="testL-description">Challenge yourself to catch every word and understand the context behind the speaker's message.</h1>
            
                <a href="listening_test" class="testL-button">Test now</a>
            </div>

            <div class="testL-part2">
                <img src="{% static 'images/audio.svg' %}" class="testL-image">
            </div>
        </div>
    </div>

    <div class="index-part3">
        <div class="review-words-div">
            <div class="review-part1">
                <h1 class="review-header">Review words now</h1>

                <h1 class="review-description">Choose new words to study today</h1>

                <a href="" class="review-button">Review now</a>
            </div>

            <div class="review-part2">
                <img src="{% static 'images/teachers.svg' %}" class="review-image">
            </div>
        </div>

        <div class="random-div">
            <h1 class="random-header">Random question</h1>

            <h1 class="random-question" id="random-question"></h1>
        
            <textarea id="" class="random-textarea" placeholder="Type word or phrase here..."></textarea>

            <input type="button" class="random-input" value="Answer" onclick="">
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}