{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Home
{% endblock %}






{% block body %}
    <div class="index-part1">
        <div class="day-strike-div">
            <h1 class="day-strike-header">15 Days strike</h1>

            <div class="day-stike">
                <div class="strike-check" style="background-color: #8BFC56;"></div>
                <h1 class="strike-text">Day 1: Learn at least 5 word</h1>
            </div>

            <div class="day-stike">
                <div class="strike-check"></div>
                <h1 class="strike-text">Day 2: Learn at least 5 word</h1>
            </div>

            <div class="day-stike">
                <div class="strike-check"></div>
                <h1 class="strike-text">Day 3: Learn at least 5 word</h1>
            </div>

            <div class="day-stike">
                <div class="strike-check"></div>
                <h1 class="strike-text">Day 4: Learn at least 5 word</h1>
            </div>
        </div>

        <div class="tip-div">
            <h1 class="tip-text">Tip of the day:  
                “some text or quote here to upgrade your english level and more text here” - by someone</h1>
        </div>
    </div>

    <div class="index-part2">
        <div class="new-word">
            <h1 class="new-word-header">Add this to “To learn list”:</h1>

            <textarea name="textarea" id="textarea" class="new-word-textarea" placeholder="I want to learn this in future..."></textarea>

            <div class="new-word-buttons">
                <input type="radio" name="wordorphrase" style="width: 1vw; height: 1vw;">
                <h1 class="radio-text">Word</h1>
                <input type="radio" name="wordorphrase">
                <h1 class="radio-text">Phrase</h1>
                <input type="button" value="Add" class="new-word-submit" onclick="">
            </div>
        </div>
    </div>

    <div class="index-part3">
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}