{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Home
{% endblock %}






{% block body %}
    <div class="index-part1">
        <div class="day-strike-div">
            <h1 class="day-strike-header">15 Days strike</h1>

            <div class="day-stike">
                <div class="strike-check" style="background-color: #8BFC56;"></div>
                <h1 class="strike-text">Day 1: Learn at least 5 word</h1>
            </div>

            <div class="day-stike">
                <div class="strike-check"></div>
                <h1 class="strike-text">Day 2: Learn at least 5 word</h1>
            </div>

            <div class="day-stike">
                <div class="strike-check"></div>
                <h1 class="strike-text">Day 3: Learn at least 5 word</h1>
            </div>

            <div class="day-stike">
                <div class="strike-check"></div>
                <h1 class="strike-text">Day 4: Learn at least 5 word</h1>
            </div>
        </div>

        <div class="tip-div">
            <h1 class="tip-text">Tip of the day:  
                “some text or quote here to upgrade your english level and more text here” - by someone</h1>
        </div>
    </div>

    <div class="index-part2">
        <div class="new-word">
            <h1 class="new-word-header">Add this to “To learn list”:</h1>

            <textarea name="textarea" id="textarea" class="new-word-textarea" placeholder="I want to learn this in future..."></textarea>

            <div class="new-word-buttons">
                <input type="radio" name="wordorphrase" style="width: 1vw; height: 1vw;">
                <h1 class="radio-text">Word</h1>
                <input type="radio" name="wordorphrase">
                <h1 class="radio-text">Phrase</h1>
                <input type="button" value="Add" class="new-word-submit" onclick="">
            </div>
        </div>

        <div class="user-info">
            <div class="user-info-part1">
                <img src="" class="user-info-pfp">

                <h1 class="user-info-username">Username here</h1>
                <h1 class="user-info-level">English level: B1</h1>
            </div>

            <div class="user-info-part2">
                <h1 class="user-info-interested">Interested in: biology, coduxb, guhdibe, bshbds, ibsidbs, bsiidhbsj</h1>
            </div>

            <br>
        </div>

        <div class="testL-div">
            <div class="testL-part1">
                <h1 class="testL-header">Test your listening skills</h1>

                <h1 class="testL-description">Challenge yourself to catch every word and understand the context behind the speaker's message.</h1>
            
                <a href="" class="testL-button">Test now</a>
            </div>

            <div class="testL-part2">
                <img src="{% static 'images/audio.svg' %}" class="testL-image">
            </div>
        </div>
    </div>

    <div class="index-part3">
        <div class="review-words-div">
            <div class="review-part1">
                <h1 class="review-header">Review words now</h1>

                <h1 class="review-description">Choose new words to study today</h1>

                <a href="" class="review-button">Review now</a>
            </div>

            <div class="review-part2">
                <img src="{% static 'images/teachers.svg' %}" class="review-image">
            </div>
        </div>

        <div class="random-div">
            <h1 class="random-header">Random question</h1>

            <h1 class="random-question">What does something called which is “some text here which describes verb or just a word”?</h1>
        
            <textarea id="" class="random-textarea" placeholder="Type word or phrase here..."></textarea>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}