{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        {% block header %}{% endblock %}
        <link href="{% static 'css/layout.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'> 
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="navbar-device-menu" id="navbar-device-menu">
            <div class="navbar-device-menu2" id="navbar-device-menu2">
                <h1 class="navbar-device-hyperlinks"><a href="{% url 'index' %}" style="text-decoration: none; color: black;">Home</a></h1>
                <h1 class="navbar-device-hyperlinks"><a href="{% url 'learn' %}" style="text-decoration: none; color: black;">Learn</a></h1>
                <h1 class="navbar-device-hyperlinks"><a href="{% url 'goals' %}" style="text-decoration: none; color: black;">Goals</a></h1>

                <div class="navbar-device-profile">
                    <a href="{% url 'login' %}" style="text-decoration: none;">
                        <div class="navbar-device-profile-div">
                            <h1 class="navbar-device-profile-div-text">Login</h1>
                        </div>
                    </a>

                    <a href="{% url 'register' %}" style="text-decoration: none;">
                        <div class="navbar-device-profile-div2">
                            <h1 class="navbar-device-profile-div-text" style="font-size: 110%;">Sign in</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-back" id="navbar-back">
            <div class="navbar-padding">
                <div class="navbar-brand">
                    <img src="{% static 'images/Logo.png' %}" class="navbar-logo">

                    <h1 class="navbar-title">Learn Language</h1>
                </div>

                <div class="navbar-navs">
                    <h1 class="navbar-nav"><a href="{% url 'index' %}" style="text-decoration: none; color: black;">Home</a></h1>
                    <h1 class="navbar-nav"><a href="{% url 'learn' %}" style="text-decoration: none; color: black;">Learn</a></h1>
                    <h1 class="navbar-nav"><a href="{% url 'goals' %}" style="text-decoration: none; color: black;">Goals</a></h1>
                </div>

                <div class="navbar-profile-div">
                    <a href="{% url 'login' %}" style="text-decoration: none;">
                        <div class="navbar-profile-divs">
                            <h1 class="navbar-profile-divs-text">Log In</h1>
                        </div>
                    </a>

                    <a href="{% url 'login' %}" style="text-decoration: none;">
                        <div class="navbar-profile-divs2">
                            <h1 class="navbar-profile-divs-text">Sign In</h1>
                        </div>
                    </a>
                </div>

                <div class="navbar-device" id="navbar-device">
                    <span class="navbar-menu" id="navbar-menu1"></span>
                    <span class="navbar-menu" id="navbar-menu2"></span>
                    <span class="navbar-menu" id="navbar-menu3"></span>
                </div>
            </div>
        </div>
        {% block body %}
        {% endblock %}

        <script src="{% static 'js/layout.js' %}"></script>
    </body>
</html>