{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'css/learn.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Learn
{% endblock %}






{% block body %}
    <div class="test-div">
        <div class="test-div-part1">
            <h1 class="test-div-header">Test your listening skills:</h1>

            <h1 class="test-div-description">Listen to multiple audios and write down what you hear.</h1> 

            <a href="{% url 'listening_test' %}"><button class="test-div-button">Take Test</button></a>
        </div>

        <div class="test-div-part2">
            <img src="{% static 'images/audio2.svg' %}" class="test-div-image">
        </div>
    </div>

    <div class="test-div">
        <div class="test-div-part1">
            <h1 class="test-div-header">Test your spelling skills:</h1>

            <h1 class="test-div-description">Challenge yourself and put your word-spelling abilities to the test.</h1> 

            <a href="{% url 'word_test' %}"><button class="test-div-button">Take Test</button></a>
        </div>

        <div class="test-div-part2">
            <img src="{% static 'images/work.svg' %}" class="test-div-image">
        </div>
    </div>

    <div class="test-div">
        <div class="test-div-part1">
            <h1 class="test-div-header">Test your vocabulary skills:</h1>

            <h1 class="test-div-description">Translate words and gain points.</h1> 

            <a href="{% url 'translate_test' %}"><button class="test-div-button">Take Test</button></a>
        </div>

        <div class="test-div-part2">
            <img src="{% static 'images/teachers.svg' %}" class="test-div-image">
        </div>
    </div>

    <div style="height: 4vw; width: 1px; position: relative;"></div>

    <script src="{% static 'js/learn.js' %}"></script>
{% endblock %}