{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link href="{% static 'css/login.css' %}" rel="stylesheet">        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'> 
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="login-page-part1">
            <div class="login-main-logo-part">
                <img src="{% static 'images/worktime.svg' %}" class="login-svg">

                <h1 class="login-svg-text">Welcome to Learn Language, where language learning meets innovation.</h1>

                <div class="logo-svg-next-div">
                    <button class="logo-svg-next" onclick="" id="logo-svg-next1"></button>
                    <button class="logo-svg-next" onclick="" id="logo-svg-next2"></button>
                    <button class="logo-svg-next" onclick="" id="logo-svg-next3"></button>
                </div>
            </div>
        </div>

        <div class="login-page-part2">

        </div>        

        <script src="{% static 'js/login.js' %}"></script>
    </body>
</html>