{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>

        <link href="{% static 'css/register.css' %}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'> 
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="error" id="error">
            <h1 class="error-text" id="error-text"></h1>
        </div>
        
        <div class="login-page-part1">
            <div class="login-main-logo-part">
                <img src="{% static 'images/worktime.svg' %}" class="login-svg" id="login-svg">

                <h1 class="login-svg-text" id="login-svg-text">Embark on a journey to expand your vocabulary and elevate your English fluency effortlessly.</h1>

                <div class="logo-svg-next-div">
                    <button class="logo-svg-next" onclick="" id="logo-svg-next1"></button>
                    <button class="logo-svg-next" onclick="" id="logo-svg-next2"></button>
                    <button class="logo-svg-next" onclick="" id="logo-svg-next3"></button>
                </div>
            </div>
        </div>

        <div class="login-page-part2">
            <h1 class="login-title"><a href="{% url 'index' %}" style="text-decoration: none; color: #6C63FF;">Learn Language</a></h1>

            <form action="" class="login-form">
                <div class="input-div">
                    <input type="email" class="input" id="email" name="email">
                    <label class="input-placeholder" id="email-placeholder">Email or username</label>
                </div>

                <div class="input-div">
                    <input type="password" class="input" id="password" name="password">
                    <label class="input-placeholder" id="password-placeholder">Password</label>
                </div>

                <h1 class="login-register"><a href="{% url 'login' %}" style="text-decoration: none;">Already have account? login here</a></h1>

                <input type="submit" class="submit" value="REGISTER">

                <hr class="line">

                <a class="google" href="">
                    <svg class="google-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                    </svg>

                    <h1 class="google-text">Sign in with google</h1>
                </a>
            </form>
        </div>        

        <script src="{% static 'js/register.js' %}"></script>
    </body>
</html>