{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'css/vocab.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Learn
{% endblock %}






{% block body %}
    <div class="words-list">
        <h1 class="words-list-header">Your vocabulary:</h1>

        <div class="word-list-list">
            <h1 class="word-list-list-word">Word here</h1>

            <div class="word-list-list-buttons">
                <h1 class="word-list-list-translation">Translate here</h1>

                <button class="word-list-list-button2">Edit</button>
                <button class="word-list-list-button1">Delete</button>
            </div>

        </div>

        <div class="word-list-list">
            <h1 class="word-list-list-word">Word here</h1>

            <div class="word-list-list-buttons">
                <h1 class="word-list-list-translation">Translate here</h1>

                <button class="word-list-list-button2">Edit</button>
                <button class="word-list-list-button1">Delete</button>
            </div>

        </div>

        <div class="word-list-list">
            <h1 class="word-list-list-word">Word heddddddddddffffffre</h1>

            <div class="word-list-list-buttons">
                <h1 class="word-list-list-translation">Translate here</h1>

                <button class="word-list-list-button2">Edit</button>
                <button class="word-list-list-button1">Delete</button>
            </div>

        </div>
    </div>

    <div class="delete-confimation-div" style="display: none;">
        <div class="delete-confimation-back"></div>
        <div class="delete-confimation-front">
            <h1 class="delete-confimation-header"><b style="color: red;"> | </b>Do you want to delete the word: "word here"?</h1>

            <div class="delete-confimation-buttons-div">
                <button class="delete-confimation-button1">Cancel</button>
                <button class="delete-confimation-button2">Confirm</button>
            </div>
        </div>
    </div>

    <div class="edit-div">
        <div class="edit-back"></div>
        <div class="edit-front">
            
        </div>
    </div>

    <script src="{% static 'js/vocab.js' %}"></script>
{% endblock %}