{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <link href="{% static 'css/vocab.css' %}" rel="stylesheet">
{% endblock %}



{% block title %}
    Learn
{% endblock %}






{% block body %}
    <div class="words-list">
        <h1 class="words-list-header">Your vocabulary:</h1>

        {% for word in words %}
            <div class="word-list-list">
                <h1 class="word-list-list-word">{{ word.word }}</h1>

                <div class="word-list-list-buttons">
                    <h1 class="word-list-list-translation">{{ word.meaning }}</h1>

                    <button class="word-list-list-button2" onclick="open_edit_div(`{{word.word}}`, `{{word.meaning}}`)">Edit</button>
                    <button class="word-list-list-button1">Delete</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="delete-confimation-div" style="display: none;">
        <div class="delete-confimation-back"></div>
        <div class="delete-confimation-front">
            <h1 class="delete-confimation-header"><b style="color: red;"> | </b>Do you want to delete the word: "word here"?</h1>

            <div class="delete-confimation-buttons-div">
                <button class="delete-confimation-button1">Cancel</button>
                <button class="delete-confimation-button2">Confirm</button>
            </div>
        </div>
    </div>

    <div class="edit-div" style="display: none;" id="edit-div">
        <div class="edit-back" id="edit-back"></div>
        <div class="edit-front">
            <h1 class="edit-header" id="edit-header"><b style="color: greenyellow;"> | </b>Edit the word: "word here"</h1>

            <div class="edit-list">
                <h1 class="edit-list-name">Edit word:</h1>
                <input type="text" placeholder="Word here" id="edit-list-input" class="edit-list-input">
            </div>

            <div class="edit-list">
                <h1 class="edit-list-name">Edit translation:</h1>
                <input type="text" placeholder="Word here" id="edit-list-input2" class="edit-list-input">
            </div>

            <button class="edit-button" style="background-color: red;" id="edit-button-cancel" onclick="cancel_edit_div()">Cancel Changes</button>
            <button class="edit-button" style="margin-left: 1vw;" id="edit-button-save" onclick="save_edit_div()">Save Changes</button>
        </div>
    </div>

    <script src="{% static 'js/vocab.js' %}"></script>
{% endblock %}