.index-part1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
    height: max-content;
    background-color: aqua;
    margin-top: 16vh;
}

.day-strike-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 10px;
    background-color: aqua;
}