.index-part1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 28%;
    height: calc(100vh - 80px - 2vw);
    margin-top: calc(85px + 2vw);
    display: inline-block;
    overflow-y: auto;
}

.index-part2 {
    position: absolute;
    top: 0px;
    left: 30%;
    width: 40%;
    height: calc(100vh - 85px - 2vw);
    margin-top: calc(85px + 2vw);
    display: inline-block;
}

.index-part3 {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 30%;
    height: calc(100vh - 80px - 2vw);
    margin-top: calc(85px + 2vw);
    display: inline-block;
    overflow-y: auto;
}

.day-strike-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    background-color: #FFFFFF;
    margin-left: 5%;
    box-shadow: 0px 16px 25px #ffffff62;
    border-radius: 1.6vw;
}

.day-strike-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    text-align: center;
}

.day-stike {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    display: inline-block;
    margin-top: 1.2vw;
}

.strike-check {
    position: relative;
    top: 0px;
    left: 5%;
    width: 2vw;
    height: 2vw;
    background-color: #E5D4FF;
    border-radius: 100%;
    display: inline-block;
}

.strike-text {
    position: relative;
    top: -0.5vw;
    left: 5%;
    width: calc(100% - 4vw);
    height: max-content;
    display: inline-block;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    color: black;
    padding: 0px;
    margin: 0px;
}

.tip-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 5%;
    background-color: #F7FBCA;
    border-radius: 1.5vw;
    box-shadow: 0px 25px 20px #f7fbca69;
}

.tip-text {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    font-size: 1.8vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

.new-word {
    position: relative;
    top: 5px;
    left: 0px;
    width: 100%;
    height: 20vw;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
}

.new-word-header {
    position: relative;
    top: 1vw;
    left: 0px;
    width: 95%;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.new-word-textarea {
    position: relative;
    top: 2vw;
    left: 0px;
    width: 90%;
    height: 45%;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    resize: none;
    border: none;
    outline: none;
    background-color: #EBEBEB;
}

.new-word-buttons {
    position: relative;
    top: 2vw;
    left: 0px;
    width: 90%;
    height: 20%;
    margin-left: 5%;
}

.radio-text {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    font-size: 1.3vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bolder;
    color: black;
}

.radio-input {
    position: relative;
    display: inline-block;
    width: 1vw;
    height: 1vw;
}

.new-word-submit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5vw;
    height: 80%;
    background-color: #D9E7D1;
    border: none;
    outline: none;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    color: black;
}

.user-info {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
    margin-top: 2vw;
}

.user-info-part1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    height: max-content;
}

.user-info-pfp {
    position: relative;
    top: 0px;
    left: 0px;
    width: 8vw;
    height: 8vw;
    background-color: #F7FBCA;
    border: none;
    border-radius: 100%;
    outline: none;
    margin-top: 2vw;
}

.user-info-username {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 12vw);
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 2vw;
    margin-left: 10vw;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-info-level {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 12vw);
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 4.5vw;
    margin-left: 10vw;
    font-size: 1.2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-info-part2 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
    height: max-content;
}

.user-info-interested {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    font-size: 1.4vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.testL-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 11vw;
    border-radius: 1.5vw;
    background-color: #CDF5FD;
    margin-top: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.testL-part1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 0px;
    display: inline-block;
}

.testL-part2 {
    position: absolute;
    top: 2vw;
    right: 0px;
    width: 40%;
    height: 0px;
    display: inline-block;
}

.testL-image {
    position: absolute;
    top: 0px;
    right: 2vw;
    width: 10vw;
    height: 10vw;
}

.testL-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 95%;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.testL-description {
    position: relative;
    top: 0px;
    left: 0px;
    width: 95%;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    font-size: 1vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.testL-button {
    position: relative;
    top: 1.5vw;
    left: 5%;
    width: max-content;
    height: max-content;
    padding: 0.5vw;
    margin: 0;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    color: black;
    text-decoration: none;
    background-color: #D9E7D1;
}

.review-words-div {
    position: relative;
    top: 5px;
    left: 0px;
    width: 90%;
    height: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 5%;
    background-color: #E5D4FF;
    border-radius: 1.5vw;
}

.review-part1 {
    position: absolute;
    top: 2vw;
    left: 0px;
    width: 60%;
    height: max-content;
}

.review-part2 {
    position: relative;
    top: 0px;
    left: 60%;
    width: 40%;
    height: max-content;
}

.review-image {
    position: relative;
    top: 0.5vw;
    left: 0px;
    width: 9vw;
    height: 9vw;
}

.review-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 95%;
    height: max-content;
    font-size: 1.7vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    margin: 0;
    padding: 0;
    margin-left: 5%;
}

.review-description {
    position: relative;
    top: 0px;
    left: 0px;
    width: 95%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    font-size: 1vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.review-button {
    position: relative;
    top: 2vw;
    left: 5%;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #6C63FF;
    border-radius: 1vw;
    color: white;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    text-decoration: none;
}

.random-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    margin-top: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 5%;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
}

.random-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 95%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.random-question {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 0.5vw;
    margin-left: 5%;
    font-size: 1.2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.random-textarea {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 8vw;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    background-color: #EBEBEB;
    color: black;
    outline: none;
    border: none;
    resize: none;
}

.random-input {
    position: relative;
    top: 1vw;
    left: 5%;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-top: 0vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    padding: 1vw;
    background-color: #D9E7D1;
    border: none;
    border-radius: 1.5vw;
    outline: none;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

@media screen and (max-width: 720px) {
    .index-part1 {
        position: relative;
        top: 0px;
        left: 0px;
        width: 40%;
        height: max-content;
        margin-top: calc(85px + 2vw);
        display: block;
        overflow-y: hidden;
    }

    .index-part2 {
        position: absolute;
        top: 0px;
        left: 40%;
        width: 58%;
        height: calc(100vh - 85px - 2vw);
        margin-top: calc(85px + 2vw);
        display: inline-block;
    }

    .index-part3 {
        position: relative;
        top: 2vw;
        right: 0px;
        width: 40%;
        height: max-content;
        margin-top: 0;
        display: block;
        overflow-y: hidden;
    }

    .day-strike-header {
        font-size: 3.5vw;
    }

    .strike-check {
        width: 3vw;
        height: 3vw;
    }

    .strike-text {
        font-size: 2.5vw;
    }

    .tip-text {
        font-size: 2.5vw;
    }

    .review-header {
        font-size: 3vw;
    }

    .review-words-div {
        height: 25vw;
    }

    .review-description {
        font-size: 2.5vw;
    }

    .review-part2 {
        left: 75%;
        width: 25%;
    }

    .review-part1 {
        left: 0;
        width: 75%;
    }

    .review-image {
        width: 8vw;
        height: 8vw;
    }

    .review-button {
        top: 3vw;
        font-size: 3vw;
    }

    .random-header {
        font-size: 3.5vw;
    }

    .random-question {
        font-size: 2.5vw;
    }

    .random-textarea {
        font-size: 3vw;
        height: 15vw;
    }

    .random-input {
        font-size: 3vw;
    }

    .new-word-header {
        font-size: 3.5vw;
    }

    .new-word-textarea {
        font-size: 3vw;
    }

    .new-word {
        height: 25vw;
    }

    .new-word-submit {
        font-size: 3vw;
        width: 10vw;
    }

    .radio-text {
        top: -1vw;
        font-size: 2.5vw;
    }

    .radio-input {
        position: relative;
        display: inline-block;
        top: -1vw;
        width: 2vw;
        height: 2vw;
    }

    .user-info-username {
        font-size: 3vw;
    }

    .user-info-level {
        margin-top: 5.5vw;
        font-size: 2.5vw;
    }

    .user-info-interested {
        font-size: 2.5vw;
    }

    .testL-header {
        font-size: 3vw;
    }

    .testL-description {
        font-size: 2vw;
    }

    .testL-div {
        height: 20vw;
    }

    .testL-button {
        font-size: 2.5vw;
        top: 2.5vw;
    }

    .testL-image {
        top: -10%;
        transform: translateY(10%);
        width: 14vw;
        height: 14vw;
    }
}

@media screen and (max-width: 570px) {
    .index-part1 {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: max-content;
        margin-top: calc(85px + 2vw);
        display: block;
        overflow-y: hidden;
    }

    .index-part2 {
        position: relative;
        top: 0px;
        left: 5%;
        width: 90%;
        height: max-content;
        margin-top: 2vw;
        display: inline-block;
    }

    .index-part3 {
        position: relative;
        top: 2vw;
        right: 0px;
        width: 100%;
        height: max-content;
        margin-top: 0;
        display: block;
        overflow-y: hidden;
    }

    .day-strike-header {
        font-size: 6vw;
    }

    .strike-check {
        width: 4vw;
        height: 4vw;
    }

    .strike-text {
        font-size: 2.5vw;
        width: calc(100% - 5% - 6vw);
    }

    .tip-text {
        font-size: 5vw;
    }

    .review-header {
        font-size: 5vw;
    }

    .review-words-div {
        height: 30vw;
    }

    .review-description {
        font-size: 4vw;
        width: 65%;
    }

    .review-part2 {
        left: 75%;
        width: 35%;
    }

    .review-part1 {
        left: 0;
        width: 75%;
    }

    .review-image {
        top: 4vw;
        width: 16vw;
        height: 16vw;
    }

    .review-button {
        top: 3vw;
        font-size: 4vw;
    }

    .random-header {
        font-size: 5vw;
    }

    .random-question {
        font-size: 4vw;
    }

    .random-textarea {
        font-size: 4vw;
        height: 15vw;
    }

    .random-input {
        font-size: 4vw;
    }

    .new-word-header {
        font-size: 5vw;
    }

    .new-word-textarea {
        font-size: 4vw;
    }

    .new-word {
        height: 34vw;
    }

    .new-word-submit {
        font-size: 4vw;
        width: 10vw;
    }

    .radio-text {
        top: -2.5vw;
        font-size: 4vw;
    }

    .radio-input {
        position: relative;
        display: inline-block;
        top: -2.5vw;
        width: 2.5vw;
        height: 2.5vw;
    }

    .user-info {
        margin-top: 5vw;
    }

    .user-info-username {
        font-size: 5vw;
    }

    .user-info-level {
        margin-top: 9vw;
        font-size: 4vw;
    }

    .user-info-interested {
        top: 2.5vw;
        font-size: 4vw;
    }

    .testL-header {
        font-size: 3vw;
    }

    .testL-description {
        font-size: 2vw;
    }

    .testL-div {
        height: 20vw;
    }

    .testL-button {
        font-size: 2.5vw;
        top: 2.5vw;
    }

    .testL-image {
        top: -10%;
        transform: translateY(10%);
        width: 14vw;
        height: 14vw;
    }
}

::-webkit-scrollbar {
    width: 0.5vw;
    margin-right: 0;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }