.index-part1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
    height: max-content;
    margin-top: 2vw;
    display: inline-block;
}

.index-part2 {
    position: absolute;
    top: 0px;
    left: 30%;
    width: 40%;
    height: max-content;
    margin-top: calc(85px + 2vw);
    display: inline-block;
}

.index-part3 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    height: max-content;
    margin-top: 12vw;
    display: inline-block;
}

.day-strike-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 35vw;
    background-color: #FFFFFF;
    margin-left: 5%;
    box-shadow: 0px 16px 25px #ffffff62;
    border-radius: 1.6vw;
}

.day-strike-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    padding: 0px;
    margin: 0px;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    text-align: center;
}

.day-stike {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    display: inline-block;
    margin-top: 1.2vw;
}

.strike-check {
    position: relative;
    top: 0px;
    left: 5%;
    width: 2vw;
    height: 2vw;
    background-color: #E5D4FF;
    border-radius: 100%;
    display: inline-block;
}

.strike-text {
    position: relative;
    top: -0.5vw;
    left: 5%;
    width: calc(100% - 4vw);
    height: max-content;
    display: inline-block;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    color: black;
    padding: 0px;
    margin: 0px;
}

.tip-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 5%;
    background-color: #F7FBCA;
    border-radius: 1.5vw;
    box-shadow: 0px 25px 20px #f7fbca69;
}

.tip-text {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    height: max-content;
    font-size: 1.8vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

.new-word {
    position: relative;
    top: 5px;
    left: 0px;
    width: 100%;
    height: 20vw;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
}

.new-word-header {
    position: relative;
    top: 1vw;
    left: 0px;
    width: 95%;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.new-word-textarea {
    position: relative;
    top: 2vw;
    left: 0px;
    width: 90%;
    height: 45%;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    resize: none;
    border: none;
    outline: none;
    background-color: #EBEBEB;
}

.new-word-buttons {
    position: relative;
    top: 2vw;
    left: 0px;
    width: 90%;
    height: 20%;
    margin-left: 5%;
}

.radio-text {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    font-size: 1.3vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bolder;
    color: black;
}

.new-word-submit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5vw;
    height: 80%;
    background-color: #D9E7D1;
    border: none;
    outline: none;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: normal;
    color: black;
}

.user-info {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
    margin-top: 2vw;
}

.user-info-part1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    height: max-content;
}

.user-info-pfp {
    position: relative;
    top: 0px;
    left: 0px;
    width: 8vw;
    height: 8vw;
    background-color: #F7FBCA;
    border: none;
    border-radius: 100%;
    outline: none;
    margin-top: 2vw;
}

.user-info-username {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 12vw);
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 2vw;
    margin-left: 10vw;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-info-level {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 12vw);
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 4.5vw;
    margin-left: 10vw;
    font-size: 1.2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-info-part2 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
    height: max-content;
}

.user-info-interested {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    font-size: 1.4vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
}

.testL-div {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    border-radius: 1.5vw;
    background-color: #CDF5FD;
    margin-top: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.testL-part1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 0px;
    display: inline-block;
}

.testL-part2 {
    position: absolute;
    top: 2vw;
    right: 0px;
    width: 40%;
    height: 0px;
    display: inline-block;
}