body {
    background-color: #EFF2EC;
}

.navbar-back {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8%;
    min-height: 80px;
    background-color: #D2E3C8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 16px 25px #d2e3c86b;
    z-index: 500;
}

.navbar-padding {
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    width: 95%;
    height: 100%;
    z-index: 500;
}

.navbar-brand {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
    min-width: 216px;
    height: 100%;
    display: inline-block;
}

.navbar-logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    height: 80%;
    display: inline;
    cursor: pointer;
}

.navbar-title {
    position: relative;
    top: -18%;
    left: 0.25vw;
    width: max-content;
    display: inline;
    margin: 0px;
    padding: 0px;
    font-size: 130%;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    cursor: pointer;
}

.navbar-profile-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 20%;
    height: 100%;
}

.navbar-profile-divs {
    position: absolute;
    top: 25%;
    right: 0px;
    width: 9.5vw;
    height: 50%;
    border: 0.2vw solid black;
    cursor: pointer;
}

.navbar-profile-divs-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    font-size: 120%;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    margin: 0px;
    padding: 0px;
}

.navbar-profile-divs2 {
    position: absolute;
    top: 25%;
    right: 10.5vw;
    width: 9.5vw;
    height: 50%;
    cursor: pointer;
}

.navbar-navs {
    position: relative;
    top: -50%;
    transform: translateY(50%);
    left: 0px;
    width: calc(100% - 30% - 20%);
    height: 65%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.navbar-nav {
    position: relative;
    top: 0%;
    left: 0px;
    font-size: 100%;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    display: inline-block;
    margin-right: 1vw;
    cursor: pointer;
}

.navbar-device {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 0px;
    width: max-content;
    height: max-content;
    display: none;
}

.navbar-menu {
    position: relative;
    top: 0px;
    left: 0px;
    min-width: 40px;
    width: 4vw;
    min-height: 5px;
    height: 1vw;
    background-color: black;
    display: block;
    margin-bottom: 5px;
    border-radius: 0.5vw;
}

.navbar-device-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #d2e3c8;
    z-index: 499;
    display: none;
}

.navbar-device-menu2 {
    position: relative;
    top: 15%;
    left: 0px;
    width: 100%;
    height: 85%;
}

.navbar-device-hyperlinks {
    position: relative;
    top: 2vw;
    left: 0px;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    font-size: 130%;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    text-align: center;
    margin-bottom: 3vw;
}

.navbar-device-profile {
    position: absolute;
    bottom: 14%;
    left: 0px;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.navbar-device-profile-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 10vw;
    margin: 0;
    padding: 0;
    border: 0.2vw solid black;
}

.navbar-device-profile-div-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    font-size: 120%;
    font-family: "Itim";
    font-weight: bolder;
    color: black;
    margin: 0px;
    padding: 0px;
}

.navbar-device-profile-div2 {
    position: absolute;
    top: -17vw;
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    height: 10vw;
    margin: 0;
    padding: 0;
}

.profile-div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 501;
}

.profile-back {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B5B5B5;
    z-index: 502;
    opacity: 50%;
}

.profile-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #FBFBFB;
    z-index: 503;
    border-radius: 2vw;
    overflow: auto;
}

.profile-card1 {
    position: relative;
    top: 30px;
    left: 46px;
    width: max-content;
    height: max-content;
}

.profile-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6.5vw;
    height: 6.5vw;
    background-color: #B5B5B5;
    padding: 0;
    margin: 0;
    z-index: 510;
    border: none;
    outline: none;
    border-radius: 100%;
}

.profile-info {
    position: relative;
    top: -2vw;
    left: 0;
    width: 26vw;
    height: max-content;
    padding-top: 2.5vw;
    padding-bottom: 1.5vw;
    background-color: #E6FBFF;
    border-radius: 1vw;
    z-index: 509;
}

.profile-username {
    position: relative;
    top: 0px;
    left: 5%;
    width: 90%;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
}

.profile-level {
    position: relative;
    top: 0px;
    left: 5%;
    width: 90%;
    font-size: 1.25vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: #6C63FF;
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
}

.profile-email {
    position: relative;
    top: 0px;
    left: 5%;
    width: 90%;
    font-size: 1vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
}

.profile-number {
    position: relative;
    top: 0px;
    left: 5%;
    width: 90%;
    font-size: 1vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
}

.profile-card2 {
    position: relative;
    top: 30px;
    left: 46px;
    width: 26vw;
    height: max-content;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    background-color: #E6FBFF;
    border-radius: 1vw;
    z-index: 509;
}

.goals-header {
    position: relative;
    top: 0;
    left: 5%;
    width: 90%;
    height: max-content;
    font-size: 1.75vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.goals {
    position: relative;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 9vw;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.goal-card {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 80%;
    background-color: #6C63FF;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.goal-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: white;
    text-align: center;
}

/* profile css */

@media screen and (max-width: 725px) {
    .navbar-navs {
        width: 40%;
    }
}

@media screen and (max-width: 570px) {
    .navbar-navs {
        display: none;
    }

    .navbar-profile-div {
        display: none;
    }

    .navbar-device {
        display: block;
    }
}

@media screen and (max-width: 280px) {
    .navbar-title {
        font-size: 110%;
    }
}

@keyframes open-menu-first {
    0% {
        rotate: 0deg;
    }

    100% {
        top: 10px;
        rotate: 45deg;
    }
}

@keyframes open-menu-first-2 {
    0% {
        top: 10px;
        rotate: 45deg;
    }

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes open-menu-second {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes open-menu-second-2 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes open-menu-third {
    0% {
        rotate: 0deg;
    }

    100% {
        top: -10px;
        rotate: -45deg;
    }
}

@keyframes open-menu-third-2 {
    0% {
        top: -10px;
        rotate: -45deg;
    }

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes open-menu {
    0% {
        left: -120%;
    }

    100% {
        left: 0%;
    }
}

@keyframes close-menu {
    0% {
        left: 0%;
    }

    100% {
        left: -120%;
    }
}