.test-div {
    position: relative;
    top: calc(85px + 2vw);
    left: 5%;
    width: 90%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #FFFFFF;
    border-radius: 1vw;
}

.test-div-part1 {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: max-content;
}

.test-div-part2 {
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
}

.test-div-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
}

.test-div-header {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: max-content;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

.test-div-description {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    padding-bottom: 2vw;
}

.test-div-button {
    position: relative;
    top: 0;
    left: 5%;
    width: max-content;
    background-color: #D9E7D1;
    border: none;
    outline: none;
    box-shadow: 0 16px 25px #d9e7d192;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    border-radius: 1vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

@media screen and (max-width: 720px) {
    .test-div-header {
        font-size: 5vw;
    }

    .test-div-description {
        font-size: 3.5vw;
    }

    .test-div-button {
        font-size: 3.5vw;
    }

    .test-div-part1 {
        width: 60%;
    }

    .test-div-part2 {
        left: 60%;
        width: 40%;
    }
}