.test-div {
    position: relative;
    top: calc(85px + 2vw);
    left: 5%;
    width: 90%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #FFFFFF;
    border-radius: 1vw;
}

.test-div-part1 {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: max-content;
}

.test-div-part2 {
    position: relative;
    top: 0;
    left: 80%;
    width: 20%;
    height: max-content;
}

.test-div-image {
    position: relative;
    top: 0;
    left: 0;
    height: 80%;
}

.test-div-header {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: max-content;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

.test-div-description {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: max-content;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}