body {
    overflow: hidden;
}

.login-page-part1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #CDF5FD;
    box-shadow: #CDF5FD 0px 2px 8px 0px;
}

.login-page-part2 {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: #EFF2EC;
}

.login-main-logo-part {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.login-svg {
    position: relative;
    top: 0%;
    left: calc((100% - 25vw) / 2);
    width: 25vw;
    height: 25vw;
}

.login-svg-text {
    position: relative;
    top: -2vw;
    left: 0px;
    width: 100%;
    height: max-content;
    text-align: center;
    font-size: 110%;
    font-family: "Kdam Thmor Pro";
    font-weight: bolder;
}

.logo-svg-next-div {
    position: relative;
    top: -1vw;
    left: calc((100% - 12vw) / 2);
    width: 12vw;
    height: max-content;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
}

.logo-svg-next {
    position: relative;
    top: 0px;
    left: 0px;
    min-width: 10px;
    width: 1.7vw;
    min-height: 10px;
    height: 1.7vw;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    margin-left: 0.8vw;
    border-radius: 100%;
}

.login-title {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 4vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: #6C63FF;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 5%;
}

.login-form {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
}

.input-div {
    position: relative;
    margin-top: 4%;
}

.input {
    position: relative;
    top: 0px;
    left: 15%;
    width: 70%;
    height: 3.5vw;
    background-color: #eeeeee00;
    outline: none;
    border: none;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    box-shadow: 0px 16px 25px #DBDBDB;
    border: 1px solid black;
    z-index: 6;
}

.input-placeholder {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-50%);
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    display: inline;
    z-index: 5;
}

.login-register {
    position: relative;
    top: 0px;
    left: 0px;
    width: 70%;
    height: max-content;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
    font-size: 1.2vw;
    font-family: "Itim";
    font-weight: bold;
    color: #6C63FF;
    text-align: end;
    z-index: 7;
}

.submit {
    position: relative;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 4vw;
    background-color: #6C63FF;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bolder;
    text-align: center;
    border: none;
    border-radius: 0.30vw;
    color: white;
    box-shadow: 0px 16px 25px #6b63ff90;
    padding: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}

.line {
    position: relative;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 0.2vw;
    background-color: black;
    border-radius: 0.5vw;
    margin-left: 20%;
    margin-right: 20%;
}

.google {
    position: relative;
    top: 0px;
    left: 0px;
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.google-icon {
    position: relative;
    top: 0;
    left: 0px;
    width: 2vw;
    height: 2vw;
    display: inline-block;
    margin-top: 1vw;
    margin-right: 1vw;
}

.google-text {
    position: relative;
    top: 0;
    left: 0px;
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    display: inline-block;
}

@keyframes input-placeholder-animation {
    0% {}

    100% {
        top: -100%;
        z-index: 6;
        font-size: 1.2vw;
        transform: translateY(100%);
    }
}

@keyframes input-placeholder-animation-2 {
    0% {
        top: -100%;
        z-index: 6;
        font-size: 1.2vw;
        transform: translateY(100%);
    }

    100% {
        top: 50%;
        z-index: 5;
        font-size: 1.5vw;
        transform: translateY(-50%);
    }
}