.test-div {
    position: relative;
    top: calc(85px + 2vw);
    left: 5%;
    width: 90%;
    height: calc(100vh - (85px + 5vw));
}

.test-div-img {
    position: relative;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: aqua;
    outline: none;
    border: none;
    display: flex;
}

.test-div-part2 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.test-div-question {
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    font-size: 2.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
}

.test-div-listen {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin-top: 1vw;
}

.test-div-play {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 4vw;
    height: 5vw;
    color: black;
    cursor: pointer;
}

.test-div-soundwave {
    position: relative;
    top: -0.5vw;
    left: 0;
    width: 4vw;
    height: 4vw;
    color: black;
}

.test-div-textarea {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 2vw);
    height: calc(20% - 1vw);
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: black;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color:black;
    background-color: #D9D9D9;
    resize: none;
    border: none;
    outline: none;
}

.textarea-div {
    overflow-y: auto;
}

.test-div-textarea2 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 2vw);
    height: max-content;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: black;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color:black;
    background-color: #D9D9D9;
    resize: none;
    border: none;
    outline: none;
}

.test-div-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
}

.test-div-button1 {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: white;
    background-color: #6C63FF;
    border: none;
    outline: none;
    padding-top: 1vw;
    padding-bottom: 1vw;    
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 0.8vw;
    cursor: pointer;
}

.test-div-button2 {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 1.35vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    border: none;
    outline: none;
    padding-top: 1vw;
    padding-bottom: 1vw;    
    margin-right: 1.5vw;
    border-radius: 0.8vw;
    cursor: pointer;
}

.done-div {
    position: relative;
    top: calc(85px + 2vw);
    left: 0;
    width: 100%;
    height: calc(100vh - 180px + 4vh);
}

.done-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 6vw;
    height: 6vw;
    color: #8BFC56;
}

.done-icon2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 6vw;
    height: 6vw;
    color: red;
}

.start-div {
    position: relative;
    top: calc(85px + 2vw);
    left: 0;
    width: 100%;
    height: calc(100vh - 180px + 4vh);
}

.start-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 4vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    text-align: center;
}

.start-button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: #ace58b;
    color: white;
    font-size: 3.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    border: none;
    border-radius: 1.5vw;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 20px 30px #50bc1156;
}

.results-div {
    position: relative;
    top: calc(85px + 2vw);
    left: 0;
    width: 100%;
    height: calc(100vh - 180px + 4vh);
}

.results-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 5vw;
    font-family: "Itim";
    font-weight: bold;
    color: black;
}

.results-header2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3.5vw;
    font-family: "Itim";
    font-weight: normal;
    color: #6C63FF;
}

.results-button {
    position: absolute;
    bottom: 0;
    right: 2vw;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    background-color: #6C63FF;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .test-div-img {
        display: none;
    }
    .test-div-part2 {
        width: 100%;
        left: 0%;
    }

    .test-div-question {
        font-size: 5vw;
    }
    
    .test-div-soundwave {
        width: 8vw;
        top: -0.5vw;
        height: 8vw;
    }

    .test-div-play {
        width: 8vw;
        top: -0.5vw;
        height: 8vw;
    }

    .test-div-textarea {
        height: calc(50% - 1vw);
        font-size: 4vw;
    }

    .test-div-button1 {
        font-size: 4vw;
    }

    .test-div-button2 {
        font-size: 3vw;
    }

    .test-div-textarea2 {
        font-size: 4vw;
    }

    .start-header {
        font-size: 8vw;
    }

    .start-button {
        font-size: 6vw;
    }

    .done-icon {
        width: 10vw;
        height: 10vw;
    }

    .done-icon2 {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width: 400px) {
    .test-div-img {
        display: none;
    }
    .test-div-part2 {
        width: 100%;
        left: 0%;
    }

    .test-div-question {
        font-size: 8vw;
    }
    
    .test-div-soundwave {
        width: 12vw;
        top: -1.2vw;
        height: 12vw;
    }

    .test-div-play {
        width: 12vw;
        top: -1.2vw;
        height: 12vw;
    }

    .test-div-textarea {
        height: calc(50% - 1vw);
        font-size: 7.5vw;
    }

    .test-div-button1 {
        font-size: 6vw;
    }

    .test-div-button2 {
        font-size: 5vw;
    }

    .test-div-textarea2 {
        font-size: 7vw;
    }

    .start-button {
        font-size: 9.5vw;
    }

    .done-icon {
        width: 14vw;
        height: 14vw;
    }

    .done-icon2 {
        width: 14vw;
        height: 14vw;
    }
}

@media screen and (max-height: 860px) {
    .textarea-div {
        height: 70%;        
    }
}

@media screen and (max-height: 660px) {
    .textarea-div {
        height: 60%;        
    }
}

@media screen and (max-height: 420px) {
    .start-button {
        font-size: 3vw;
    }
}

@keyframes start_test {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes start_test2 {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}