.words-list {
    position: relative;
    top: calc(2vw + 85px);
    left: 5%;
    width: 85%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
}

.words-list-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
}

.word-list-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin-top: 1vw;
    background-color: aliceblue;
}

.word-list-list-word {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 1.8vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.word-list-list-word2 {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: rgb(129, 129, 129);
    display: inline-block;
    padding: 0;
    margin: 0;
}

.word-list-list-button1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    outline: none;
    border: none;
}

.word-list-list-button2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-right: 1vw;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    outline: none;
    border: none;
}

@media screen and (max-width: 720px) {
    .words-list {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .words-list-header {
        font-size: 4vw;
    }
}

@media screen and (max-width: 480px) {
    .words-list {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .words-list-header {
        font-size: 6vw;
    }
}