.words-list {
    position: relative;
    top: calc(2vw + 85px);
    left: 5%;
    width: 85%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
}

.words-list-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
}

.word-list-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin-top: 1.5vw;
}

.word-list-list-word {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 1.8vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: black;
    display: inline-block;
    padding: 0;
    margin: 0;
    max-width: 50%;
}

.word-list-list-word2 {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: rgb(129, 129, 129);
    display: inline-block;
    padding: 0;
    margin: 0;
}

.word-list-list-buttons {
    position: absolute;
    right: 0;
    top: 0%;
    height: 100%;
}

.word-list-list-button1 {
    position: relative;
    top: 0%;
    right: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    outline: none;
    border: none;
    display: inline-block;
}

.word-list-list-button2 {
    position: relative;
    top: 0%;
    right: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-right: 1vw;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: white;
    background-color: rgb(117, 117, 117);
    border-radius: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    outline: none;
    border: none;
    display: inline-block;
}

.word-list-list-translation {
    position: relative;
    top: 0%;
    right: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 1.4vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    color: rgb(129, 129, 129);
    border-radius: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    outline: none;
    border: none;
    display: inline-block;
}

.delete-confimation-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.delete-confimation-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 50%;
}

.delete-confimation-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.delete-confimation-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
}

.delete-confimation-buttons-div {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    margin-top: 1vw;
}

.delete-confimation-button1 {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: gainsboro;
    color: black;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: normal;
    border: none;
    border-radius: 1vw;
    outline: none;
    cursor: pointer;
}

.delete-confimation-button2 {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: rgb(154, 255, 3);
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    border: none;
    border-radius: 1vw;
    outline: none;
    cursor: pointer;
}

.edit-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.edit-back {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 50%;
}

.edit-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: max-content;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
}

.edit-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 2vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.edit-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
}

.edit-list-name {
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    height: max-content;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    display: inline-block;
}

.edit-list-input {
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: max-content;
    font-size: 1.4vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bold;
    color: black;
    display: inline-block;
    background-color: gainsboro;
    border: none;
    outline: none;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.edit-button {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0.5vw;
    outline: none;
    background-color: greenyellow;
    color: white;
    font-size: 1.5vw;
    font-family: "Kdam Thmor Pro";
    font-weight: bolder;
}

@media screen and (max-width: 720px) {
    .words-list {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .words-list-header {
        font-size: 4vw;
    }

    .word-list-list-word {
        font-size: 3.5vw;
    }

    .word-list-list-word2 {
        font-size: 2.5vw;
    }

    .word-list-list-button1 {
        font-size: 4vw;
    }

    .word-list-list-button2 {
        font-size: 4vw;
    }

    .word-list-list-translation {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 480px) {
    .words-list {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .words-list-header {
        font-size: 6vw;
    }

    .word-list-list-word {
        font-size: 4.5vw;
    }

    .word-list-list-word2 {
        font-size: 2.5vw;
    }

    .word-list-list-button1 {
        font-size: 5.5vw;
    }

    .word-list-list-button2 {
        font-size: 5.5vw;
    }

    .word-list-list-translation {
        display: none;
    }
}